*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;

  overflow-x: hidden; /* Prevents horizontal overflow */
}
ul {
  list-style-type: none;
}
a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* navbar */

.navbar {
  background-color: #103356;
  position: fixed;
  width: 100%;
}

.navbar-top {
  font-family: "Mukta", sans-serif;
  text-align: right;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.navbar-top__links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.navbar-top__links a:hover {
  color: lightsalmon;
}

/* navbar bottom */
.navbar-bottom {
  background-color: white;
  border: 1px solid black;
}
.navbar-bottom a {
  color: #103356;
  font-weight: 300;
  font-size: 1.2rem;
}

.navbar-bottom i {
  color: #103356;
}

.navbar-bottom__list-links {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar-bottom__link {
  padding: 1.2rem 1.5rem;
}

.navbar-bottom__link.glass {
  border-left: 1px solid lightgray;
}

.navbar-bottom__mobile-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar-bottom__mobile-menu {
  display: none;
}

.navbar-bottom__logo {
  position: absolute;
  width: 225px;
  height: auto;
  top: -25%;
  left: 2%;
}

/* mobile menu */
.navbar-bottom__mobile-menu-items {
  position: absolute;
  display: none;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.navbar-bottom__mobile-menu-items {
  transform: translateX(100%);
}

.navbar-bottom__mobile-menu-items.active {
  transform: translateX(0);
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.navbar-bottom__mobile-menu-items.active,
.navbar-bottom__mobile-menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-bottom__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.navbar-bottom__mobile-menu-item a {
  color: #0b5896;
}
.navbar-bottom__mobile-menu-item a:hover {
  color: white;
}
.navbar-bottom__mobile-menu-item {
  border-bottom: 2px solid gray;
}

.active {
  display: block;
}

.navbar-bottom__mobile-menu-close {
  position: absolute;
  top: -35%;
}

.navbar-bottom__mobile-menu-close i {
  color: #0b5896;
}

.navbar-bottom__mobile-menu-close i:hover {
  color: white;
  cursor: pointer;
}
/* section main-pic */
.main-pic {
  color: #103356;
}
.main-pic__container {
  background: #000 url(../images/bread-399286_1280.jpg) center center/cover
    no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-pic__text h2 {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
  margin-top: 100px;
  padding: 3rem;
  text-align: center;
}

/* main */
.main {
  color: white;
  background-color: #e2e2e2;
  padding: 2rem 4rem;
}
.main__top {
  text-align: center;
}
.main__top--header {
  color: #103356;
  margin-bottom: 1rem;
}

.main__top--description {
  font-size: 1rem;
  color: black;
}

/* main bottom */
.main-two {
  background-color: white;
  color: black;
  padding: 4rem 2rem;
}

.main__bottom {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main__bottom-left-p,
.main__bottom-right-p {
  max-width: 700px;
  text-align: left;
  font-size: 1.2rem;
}

.main__bottom-left-p {
  margin-bottom: 2rem;
}
.main__bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 9rem;
}

.main__bottom-right h4 {
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  width: 5rem;
  border-bottom: 1px solid blue;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.main-two span {
  color: #0b5896;
}
.main__bottom-right-description {
  font-size: 3rem;
  text-align: center;
  max-width: 300px;
  line-height: 1.6;
}

/* company info */
.company-info {
  background-color: #103356;
  padding: 4rem 2rem;
}

.company-info__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.company-info__container-item-paragraph {
  max-width: 565px;
  line-height: 2;
}

.company-info__container-item-image img {
  max-width: 150px;
  background-color: white;
}

.company-info__container-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.company-info__container-item-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.company-info__container-item-p a {
  color: #da9a28;
}
.company-info__container-item-p a:hover {
  color: white;
  cursor: pointer;
}
.company-info__container-item-p:first-child {
  color: white;
}
.company-info__container-item-p:first-child:hover {
  color: #da9a28;
}

/*  footer  */
.footer {
  background-color: #323232;
  padding: 2.5rem 1rem;
  text-align: center;
  font-weight: 10;
  font-size: 0.9rem;
  color: lightgray;
}
.footer_list {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer_list-item:hover {
  color: #da9a28;
  cursor: pointer;
}
/* breads main pic  */

.breads {
  color: black;
}

.breads-main-pic__container {
  background: #000 url(../images/bread2.jpg) center center/cover no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* breads */
.breads {
  padding: 6rem 2rem;
}
.breads__image img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}

.breads__container {
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.breads__name {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* main-pic contact */
.contact-main-pic__container {
  background: #000 url(../images/bread3.jpg) center center/cover no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contact */

.contact {
  background-color: #e2e2e2;
  color: #0b5896;
  padding: 2rem 2rem;
}

.contact-container {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  padding: 0 2rem;
}
.contact__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 200;
}
.contact__paragraph {
  font-size: 1.05rem;
  color: black;
  font-weight: 400;
  line-height: 1.5;
}

/* form  */
.form__container {
  max-width: 1200px;
  margin: 0 auto;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
}
.form input,
.form textarea {
  display: block;
  width: 600px;
  max-width: 1100px;
  border: 1px solid #ccc;
  padding: 1.2rem 1rem;
}

.form textarea {
  min-height: 200px;
}
.form button {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 32px;
  background-color: #0b5896;
  color: white;
  cursor: pointer;
}
.form button:hover {
  background-color: #103356;
}

.form__right {
  margin-right: 8rem;
  margin: 0 auto;
}

.form__left {
  margin: 0 auto;
}
.form__right--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* custom formulation  */
.custom-main {
  color: #0b5896;
  padding: 3rem 3rem;
}
.custom-main__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 4rem;
}

.custom-main__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.custom-main__heading {
  font-size: 1.7rem;
  font-weight: 550;
}

.custom-main__p {
  color: black;
  font-size: 1.1rem;
}
.custom-main__contact-button {
  margin: 0 auto;
  max-width: 300px;
  padding-top: 3rem;
}
.custom-main__contact-button button {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 32px;
  background-color: #0b5896;
  color: white;
  cursor: pointer;
}

.custom-main__contact-button button:hover {
  background-color: #103356;
}

/* services */
.services-main-pic__container {
  background: #000 url(../images/bread4.jpg) center center/cover no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__info {
  margin-top: 2rem;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}
.services {
  color: black;
}
.services img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.services__container {
  padding: 4rem 2rem;
}

.services__item-right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.services__item-header {
  color: #103356;
  font-size: 1.7rem;
  font-weight: 500;
}
.services__item-info {
  color: #103356;
  font-size: 1.2rem;
}
.services__item-paragraph,
.services__item-paragraph2 {
  font-size: 1.1rem;
}

.services__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* faq  */
.faq {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.faq__heading {
  text-align: center;
  color: #103356;
}
.faq__question {
  color: #103356;
  font-style: italic;
}
.faq__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  max-width: 600px;
}
.faq__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1100px;
}
.faq__heading {
  font-size: 2rem;
}
.faq__question {
  font-size: 1.2rem;
}
.faq__answer {
  font-size: 1.1rem;
  text-align: left;
}

/* about */

.about {
  color: black;
}
.about__image {
  max-width: 500px;
}
.about__container {
  max-width: 1200px;

  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about__item {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.about__text {
  font-size: 1.25rem;
  max-width: 400px;
}
.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about span {
  color: #0b5896;
  font-style: italic;
}
.about__image {
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .navbar-bottom__logo {
    width: 180px;
    top: -10%;
  }
}
@media (max-width: 1100px) {
  .navbar-bottom__mobile-menu {
    display: flex;
  }

  .navbar-bottom__list-links {
    display: none;
  }

  .navbar-bottom {
    padding: 1rem 2.5rem;
  }

  .navbar-bottom__logo {
    width: 170px;
    top: 5%;
  }

  .main__bottom-right h4 {
    font-size: 1.4rem;
  }
  .main__bottom-right p {
    font-size: 1.7rem;
  }
  .breads__image img {
    max-width: 275px;
  }

  .breads__name {
    font-size: 1.7rem;
  }
  .breads__container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 4rem;
  }

  .breads__item {
    margin-bottom: 2rem;
  }

  /* form */
  .form__container {
    flex-direction: column;
    gap: 2rem;
  }

  .form__left {
    text-align: center;
  }
  .form__left-header {
    font-size: 2rem;
  }
  .form__left-description {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .form__left-contact {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .form__left {
    border: 1px solid black;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 32px;
  }
  .form__container {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .main__bottom-right h4 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }

  .main__bottom-right {
    gap: 0.5rem;
  }
  .main__bottom-right h4 {
    font-size: 1.3rem;
  }
  .main__bottom-right p {
    font-size: 1.6rem;
  }

  .company-info__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .company-info__container-item {
    width: 100%;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .company-info__container-item-paragraph {
    margin: 0 auto;
  }
  /* services */
  .services__item {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #e2e2e2;
    border-radius: 25px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0, 4px 6px rgba(0, 0, 0, 0.1);
  }

  .services p {
    max-width: 700px;
  }
  .services__container {
    padding: 4rem 3rem;
  }

  /* navbar-bottom */
  .navbar-bottom__logo {
    width: 150px;
    top: 10%;
  }
  /* about */
  .about__item {
    flex-direction: column;
  }
  .about__item.two {
    flex-direction: column-reverse;
  }
  .about__text {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .navbar-bottom__logo {
    width: 180px;
    height: auto;
    top: 22%;
  }

  .main-pic__container {
    height: 300px;
  }

  .main__bottom {
    flex-direction: column-reverse;
  }
  .main__bottom h4 {
    font-size: 1.5rem;
  }
  .main__bottom-right {
    margin-bottom: 0rem;
  }
  .breads__container {
    grid-template-columns: 1fr;
  }
  .breads__item {
    margin-bottom: 2rem;
  }

  /* contact */

  .form input,
  .form textarea {
    width: 500px;
  }
  /* custom-main */
  .custom-main__container {
    flex-direction: column;
  }
  /* navbar bottom */
  .navbar-bottom__logo {
    width: 150px;
    top: 10%;
  }
  /* about */

  .about__image {
    max-width: 400px;
  }
  .about__text {
    font-size: 1.2rem;
  }
}

@media (max-width: 568px) {
  .navbar-bottom__logo {
    width: 140px;
    top: 15%;
  }
  .form input,
  .form textarea {
    width: 400px;
  }
  .services__container {
    padding: 4rem 1rem;
  }
}
